@page
@model SustainabilityProgramManagement.Pages.Staff.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>StaffMember</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StaffMember.StaffMemberId" />
            <div class="form-group">
                <label asp-for="StaffMember.FirstName" class="control-label"></label>
                <input asp-for="StaffMember.FirstName" class="form-control" />
                <span asp-validation-for="StaffMember.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffMember.LastName" class="control-label"></label>
                <input asp-for="StaffMember.LastName" class="form-control" />
                <span asp-validation-for="StaffMember.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffMember.SustainabilityProgramId" class="control-label"></label>
                <select asp-for="StaffMember.SustainabilityProgramId" class="form-control" asp-items="ViewBag.SustainabilityProgramNames"></select>
                <span asp-validation-for="StaffMember.SustainabilityProgramId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
